- name: Install python3-pip
  apt:
    name: python3-pip
    update_cache: yes
    cache_valid_time: 3600

- name: Create /etc/letsencrypt dir
  file:
    path: /etc/letsencrypt/key_files
    state: directory
    mode: 0755

- name: Run digitalocean groups
  include_tasks: digitalocean.yml
  with_dict: '{{ letsencrypt.domain_groups }}'
  when: domain_group.value.type == 'digitalocean'
  loop_control:
    loop_var: domain_group

- name: Run google groups
  include_tasks: google.yml
  with_dict: '{{ letsencrypt.domain_groups }}'
  when: domain_group.value.type == 'google'
  loop_control:
    loop_var: domain_group

- name: Create directories and symlinks for ssl sites
  include_tasks: make_symlinks.yml
  with_dict: '{{ letsencrypt.domain_groups }}'
  when: link_to_ssl | default(true)
  loop_control:
    loop_var: domain_group
