- name: Run command for {{ domain_group.key }}
  command: '{{ certbot_command }}'
  args:
    warn: no
  register: command_result
  changed_when: (command_result.rc == 0) and ("no action taken" not in command_result.stdout)

- name: Run certbot with Google DNS plugin in cron for {{ domain_group.key }}
  cron:
    name: run certbot with Google DNS plugin for {{ domain_group.key }}
    minute: '0'
    hour: '2'
    day: '*/2'
    job: '{{ certbot_command }} | sudo tee -a /var/log/letsencrypt/cron.log 2>&1'
  become_user: '{{ letsencrypt.linux_user | default("root") }}'
  when: domain_group.value.scheduled | default(false)
